#gridsystem{
    
}
.class1{
    background-color: chartreuse;
    color:black;
    font-size:16px;

}
.class2{
    background-color:brown;
    color:white;
    font-size:26px;
    
}
.class3{
background-color: black;
color:white;
}
.class4{
    background-color: brown;
    color:white;
}
.class5{
background-color: blue;
color: azure;
}
.class6{

}