.mouseevent{
    height:300px;
    width:300px;
    margin:auto;
    background-color: black;
}
.form{
    background-color: #f2f2f2;
    border: 1px solid gray;
    border-radius:5px;
}
input[ type="text"]{
 width:95%;
}
.formkey{
    padding:20px;
}
#button{
    display:flex;
 align-self: center;
 
}
div#wrapper > div#button{
    border-radius: 20px;
    text-align: center;
    padding:10px;
    display:inline-block;
    cursor:pointer;
    margin: auto;
    width:200px;
    
}
.black{
    background-color: black;
    color:white;
}
.white{
    background-color:white;
    color:black;
}
